@import './mixins.scss';
@import './fonts.scss';
@import './vars.scss';

b {
    font-family: $hel-b77; 
}

.nopadding{
    padding: 0;
}

.new-offer-landing {
    font-family: 'Source Sans Pro', sans-serif !important;
    position: relative;
    // Mixin with all styles only for the dinamics and payment methods
    @include fichasLanding();
    //General styles of the Landing Page
    #btn-goTop{
        position: fixed;
        z-index: 100;
        bottom: 50px;
        right: 50px;
        width: 50px;
        height: 50px;
        background-color: $text-black;
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        svg{
            width: 25px;
            margin: 0 auto;
            display: block;
        }
        @media screen and (max-width: 760px) {
            bottom: 10px;
            right: 10px;
        }
    }

    .cont_menu{
        margin-top: 25px;
        &__item{
            padding: 20px;
            background-color: $bg-gray-color; 
            position: relative;
            &__items{
                button{
                    text-align: center;
                    margin: 0 auto;
                    font-size: 20px;
                    color: $text-black;
                    width: 100%;
                    &:hover{
                        color: $text-green;
                    }

                    &.tv{
                        // .font-icn-cat {
                        //     padding-top: 8px;
                        // }
                    }

                    &.tecno{
                        border-left: solid 1px #202020;
                    }

                    &.electro{
                        border-left: solid 1px #202020; 
                        border-right: solid 1px #202020;
                    }

                    &.otras{
                        border-right: solid 1px #202020;
                    }

                    span{
                        display: block;
                        font-size: 30px;
                    }

                    @media screen and (max-width: 760px) {
                        font-size: 14px;
                        // &.tv{
                        //     border-left: solid 1px #202020;
                        // }

                        // &.mercado{
                        //     border-right: solid 1px #202020;
                        // }
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 11px;
                    }
                }
            }  
            
            .slick-arrow{
                font-size: 45px;   
                position: absolute; 
                top: 50%;
                z-index: 100;
                &.slick-prev{
                    left: 0;
                    &:before{
                        color: $text-black !important;
                        background: transparent;
                    }
                }

                &.slick-next{
                    right: 0;
                    &:before{
                        color: $text-black !important;
                        background: transparent;
                    }
                }

                &.slick-disabled{
                    opacity: 0.2;
                }
            }
        }
    }

    .cont_destacados{
        margin-top: 80px;
        &__title{
            @include titleLanding();
        }
    }

    .cont-sxh{
        min-width: initial;
        display: block;
        padding: 50px 15px;
        position: relative;
        min-height: 180px;
        img{
            width: 100%;
        }

        a{
            .link{
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 100;
                background-color: transparent;
            }
        }

        &__left{
            position: relative;
            p{
                position: absolute;
                bottom: 5px;
                width: 100%;
                font-size: 12px;
                text-align: center;
                @media screen and (min-width: 992px) and (max-width: 1440px){
                    font-size: .8vw;
                }

                @media screen and (max-width: 760px) {
                    font-size: 9px;
                }

                @media screen and (max-width: 400px) {
                    font-size: 7px; 
                }
            }

            &__countdown{
                position: absolute;
                bottom: 20px;
                font-size: 60px;
                right: calc(45% - 155px);
                color: $white-color;
                text-shadow: 3px 3px #7b7b7b5e;
                @media screen and (min-width: 992px) and (max-width: 1440px){
                    font-size: 4vw;
                    right: 10%;
                    bottom: 12px; 
                }

                @media screen and (max-width: 991px) {
                    font-size: 14vw;
                    right: calc(10%);
                    bottom: 5%;
                }

                @media screen and (max-width: 760px) {
                    font-size: 13.5vw;
                    right: calc(10%);
                    bottom: 10%;
                }

                @media screen and (max-width: 400px) {
                    font-size: 11vw;
                    right: calc(15%);
                    bottom: 10%;
                }
            }
        }

        .row{
            position: relative;
        }
    }

    .cont_televisores{
        @include configCategory();
        &__title{
            @include titleLanding();  
        }
    }

    .cont_electro{ 
        @include configCategory();
        &__title{
            @include titleLanding(); 
        }
    }

    .cont_tecno{ 
        @include configCategory();
        &__title{
            @include titleLanding(); 
        }
    }

    .cont_otras{ 
        @include configCategory();
        &__title{
            @include titleLanding(); 
        }
    }

    .cont_mercado{
        @include configCategory();
        &__title{
            @include titleLanding(); 
        }

        &__tyc{
            margin-top: 80px;
            font-size: 27px;
            text-align: center; 
            @media screen and (max-width: 760px) {
                margin-top: 40px;
                font-size: 18px;
                padding: 0 5%; 
            }
        }
    }

    .cont_interes{
        @include configCategory();
        &__title{
            @include titleLanding(); 
        }
    }
}