@import './mixins.scss';
@import './fonts.scss';
@import './vars.scss';

b {
    font-family: $hel-b77; 
}

.new-offer-landing {
    .content-offers {
        .item-offer {
            border: solid 1px $border-color;
            border-right: none;
            max-width: 288px;
            position: relative;
            a {
                text-decoration: none;
                .link {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            }
            .image-product {
                margin: 23px 0 20px;
                padding: 0 40px;
                max-height: 204px;
                img {
                    display: block;
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    max-height: 204px;
                    margin: 0 auto;
                }
            }
            .title-product {
                &.sxh {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        display: block;
                        width: 60px;
                        height: 50px;
                        background-image: url('https://www.tiendasjumbo.co/arquivos/label-sxh-new-landing.png');
                        background-repeat: no-repeat;
                        background-color: $white-color;
                        border-radius: 5px;
                    }
                }
            }
            &.dinamica {
                .title-product {
                    text-align: center;
                    margin-bottom: 25px;
                    h3 {
                        font-size: 20px;
                        text-transform: uppercase;
                        line-height: 1;
                        font-family: $hel-b77;
                    }
                    div {
                        font-size: 14px;
                        font-family: $hel-l45;
                    }
                }
                .info {
                    .percentPricing {
                        display: block;
                        width: 100%;
                        text-align: center;
                        .percentCreditCard {
                            .tjc-percent {
                                display: inline-block;
                                width: 51%;
                                padding-left: 10px;
                            }
                            .regular-percent {
                                display: inline-block;
                                width: 47%;
                                padding-left: 10px;
                                .creditCard {
                                    @include creditCardProperty();
                                    &:before {
                                        content: '%DTO';
                                        font-family: $hel-b77;
                                        font-size: 18px;
                                        line-height: 1.2em;
                                    }
                                }
                            }
                            //General Style
                            .valuePercent {
                                font-size: 60px;
                                font-family: $hel-b75;
                                display: inline-block;
                                vertical-align: top;
                                line-height: .9;
                                position: relative;
                                width: 100%;
                                text-align: left;
                                &.notop {
                                    &:before {
                                        content: 'Hasta';
                                        position: absolute;
                                        display: block;
                                        font-family: $hel-b75;
                                        font-size: 11px;
                                        line-height: 1em;
                                        top: -8px;
                                        left: 0px;
                                    }
                                }
                            }
                            .labelPercent {
                                font-size: 12px;
                                font-family: $hel-l45;
                                text-align: left;
                                height: 15px;
                                overflow: hidden;
                            }
                            //General Style
                        }
                    }
                }

                &.TarjetaCencosud {
                    .info {
                        .percentPricing {
                            .percentCreditCard {
                                .tjc-percent {
                                    color: $tmc-color;
                                    .creditCard {
                                        display: inline-block;
                                        vertical-align: top;
                                        margin-left: -12px;
                                        &:before {
                                            @include creditCardBeforeProperty();
                                            color: $tmc-color;
                                            position: absolute;
                                            top: 3px;
                                        }
                                        &:after {
                                            content: '';
                                            display: block;
                                            width: 45px;
                                            height: 30px;
                                            background: url('https://jumbocolombiafood.vteximg.com.br/arquivos/label-tmc-new-landing.png') no-repeat;
                                            background-size: 100%;
                                            position: absolute;
                                            bottom: 0;
                                        }
                                    }
                                    .labelPercent {
                                        font-size: 12px;
                                    }
                                }
                                .regular-percent {
                                    .creditCard {
                                        @include creditCardProperty();
                                        &:before {
                                            @include creditCardBeforeProperty();
                                        }
                                    }
                                    .labelPercent {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }

                &.aval {
                    .title-product {
                        &:after {
                            @include labelProperty();
                            background-image: url('https://www.tiendasjumbo.co/arquivos/label-aval-bg-new-landing.png');
                        }
                    }
                    .info {
                        .percentPricing {
                            .percentCreditCard {
                                .tjc-percent {
                                    color: $aval-color;
                                    .creditCard {
                                        @include creditCardProperty();
                                        &:before {
                                            @include creditCardBeforeProperty();
                                            color: $aval-color;
                                        }
                                    }
                                    .labelPercent {
                                        font-size: 12px;
                                    }
                                }
                                .regular-percent {
                                    .creditCard {
                                        @include creditCardProperty();
                                        &:before {
                                            @include creditCardBeforeProperty();
                                        }
                                    }
                                    .labelPercent {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }

                &.bbva {
                    .title-product {
                        &:after {
                            @include labelProperty();
                            background-image: url('https://www.tiendasjumbo.co/arquivos/label-bbva-bg-new-landing.png');
                        }
                    }
                    .info {
                        .percentPricing {
                            .percentCreditCard {
                                .tjc-percent {
                                    color: $bbva-color;
                                    .creditCard {
                                        @include creditCardProperty();
                                        &:before {
                                            @include creditCardBeforeProperty();
                                            color: $bbva-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.colpatria {
                    .title-product {
                        &:after {
                            @include labelProperty();
                            background-image: url('https://www.tiendasjumbo.co/arquivos/label-colpatria-bg-new-landing-v2.png');
                        }
                    }
                    .info {
                        .percentPricing {
                            .percentCreditCard {
                                .tjc-percent {
                                    color: $colpatria-color;
                                    .creditCard {
                                        @include creditCardProperty();
                                        &:before {
                                            @include creditCardBeforeProperty();
                                            color: $colpatria-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.visa {
                    .title-product {
                        &:after {
                            @include labelProperty();
                            background-image: url('https://www.tiendasjumbo.co/arquivos/label-visa-bg-new-landing.png');
                        }
                    }
                    .info {
                        .percentPricing {
                            .percentCreditCard {
                                .tjc-percent {
                                    color: $visa-color;
                                    .creditCard {
                                        @include creditCardProperty();
                                        &:before {
                                            @include creditCardBeforeProperty();
                                            color: $visa-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.bbog {
                    .title-product {
                        &:after {
                            @include labelProperty();
                            background-image: url('https://www.tiendasjumbo.co/arquivos/label-bbog-bg-new-landing.png');
                        }
                    }
                    .info {
                        .percentPricing {
                            .percentCreditCard {
                                .tjc-percent {
                                    color: $bbog-color;
                                    .creditCard {
                                        @include creditCardProperty();
                                        &:before {
                                            @include creditCardBeforeProperty();
                                            color: $bbog-color;
                                        }
                                    }
                                }
                                .labelPercent {
                                    height: 30px !important;
                                }
                            }
                        }
                    }
                    .legals {
                        margin-top: 15px;
                    }
                }

                &.simple {
                    .labelPercent {
                        height: 30px !important;
                    }
                    .legals {
                        margin-top: 15px;
                    }
                }
            }
            .legals {
                border-top: solid 1px $border-color;
                margin-top: 30px;
                p {
                    text-align: center;
                    font-family: 'Source Sans Pro';
                    font-size: 13px;
                    color: $legals-color;
                    &:last-child {
                        padding-top: 0;
                        padding-bottom: 20px;
                    }
                    &:first-child {
                        padding-top: 20px;
                    }
                }
            }
            &:last-child {
                border-right: solid 1px $border-color;
            }
        }
    }
}