@import './mixins.scss';
@import './fonts.scss';
@import './vars.scss';

b {
    font-family: $hel-b77; 
}

.new-offer-landing {
    font-family: 'Source Sans Pro', sans-serif !important;
    // Mixin with all styles only for the dinamics and payment methods
    @include fichasLanding();
    //General styles of the Landing Page
    .cont_menu{
        margin-top: 25px;
        &__item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            width: 100%;
            padding: 20px;
            background-color: $bg-gray-color; 
            &__items{
                width: 20%;
                text-align: center;
                button{
                    margin: 0 auto;
                    font-size: 20px;
                    color: $text-black;
                    &:hover{
                        color: $text-green;
                    }
                }

                &:nth-child(2){
                    border-left: solid 1px #202020; 
                }

                &:nth-child(3){
                    border-left: solid 1px #202020; 
                    border-right: solid 1px #202020; 
                }

                &:nth-child(4){ 
                    border-right: solid 1px #202020; 
                }
            }
        }
    }

    .cont_destacados{
        margin-top: 80px;
        &__title{
            @include titleLanding();
        }
    }

    .cont_televisores{
        margin-bottom: 80px;
        &__title{
            @include titleLanding();  
        }
    }

    .cont_electro{ 
        margin-bottom: 80px;
        &__title{
            @include titleLanding(); 
        }
    }

    .cont_tecno{ 
        margin-bottom: 80px;
        &__title{
            @include titleLanding(); 
        }
    }

    .cont_otras{ 
        margin-bottom: 80px;
        &__title{
            @include titleLanding(); 
        }
    }

    .cont_mercado{
        margin-bottom: 80px;
        &__title{
            @include titleLanding(); 
        }

        &__tyc{
            margin-top: 80px;
            font-size: 27px;
            text-align: center;
        }
    }

    .cont_interes{
        margin-bottom: 80px;
        &__title{
            @include titleLanding(); 
        }
    }
}